<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link href= <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>
<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="profile">
                        <img src="../author/images/profile.jpeg"
                        width="156px"
                        height="142px"
                        alt=""
                        />
                    </div>
                    <div class="pro_name"><%=user.name%></div>
                    <div class="pro_desc"><%=user.profession%></div>
                    <div class="pro_icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="../author/icon/Dribbble.svg">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="../author/icon/Facebook.svg">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="../author/icon/Instagram.svg">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="../author/icon/Linkeding.svg">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="../author/icon/Twitter.svg">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="../author/icon/Youtube.svg">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="per_data">
                        <span style="background: rgb(255, 180, 0);">Age:</span>
                        <span style="background: rgb(255, 180, 0);">Residence:</span>
                        <span style="background: rgb(255, 180, 0);">Freelance:</span>
                        <span style="background: rgb(255, 180, 0);">Address:</span>
                    </div>
                    <div class="per_data2">
                        <span><%=user.age%></span>
                        <span><%=user.residence%></span>
                        <span style="color: green;">Available</span>
                        <span><%=user.adress%></span>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_3">
                   <div class="">
                    <strong>Languages</strong>
                   </div> 
                   <div class="top">
                    <span>Uzbek</span>
                    <span>100%</span>
                   </div>
                   <div class="reactangle_1">
                    <img src="../author/menu_icon/Rectangle 7.png">
                   </div>
                   <div class="middle">
                    <span>English</span>
                    <span>80%</span>
                   </div>
                   <div class="reactangle_2">
                    <img src="../author/menu_icon/Rectangle 9.svg">
                   </div>
                   <div class="bottom">
                    <span>Korean</span>
                    <span>60%</span>
                   </div>
                   <div class="reactangle_3">
                    <img src="../author/menu_icon/Rectangle 11.svg">
                   </div>
                </div>
                <div class="marginer"></div>
                <div class="left_4">
                    <div>
                        <strong>Skills</strong>
                    </div>
                    <div class="info">
                            <span>HTML</span>
                            <span>100%</span>
                    </div>
                    <div class="line_1">
                            <img src="../author/menu_icon/Rectangle 15.svg">
                    </div>
                    <div class="info">
                        <span>CSS</span>
                        <span>85%</span>
                    </div>
                    <div class="line_1">
                        <img src="../author/menu_icon/Rectangle 16.svg">
                    </div>
                    <div class="info">
                       <span>Js</span>
                       <span>80%</span>
                    </div>
                    <div class="line_1">
                       <img src="../author/menu_icon/Rectangle 17.svg">
                    </div>
                    <div class="info">
                        <span>PHP</span>
                        <span>75%</span>
                    </div>
                    <div class="line_1">
                       <img src="../author/menu_icon/Rectangle 19.svg">
                    </div>
                   <div class="info">
                       <span>WordPress</span>
                       <span>85%</span>
                   </div>
                   <div class="line_1">
                        <img src="../author/menu_icon/Rectangle 21.svg">
                    </div>
                <div class="marginer"></div>
                </div> 
                <div class="left_5">
                  <div>
                    <strong>Extra Skills</strong>
                  </div>
                  <div class="infoo">
                    <img src="../author/menu_icon/Icons.svg" style="margin-right: 10px;">
                    <span>Bootstrap, Materialize</span>
                  </div>
                  <div class="infoo">
                    <img src="../author/menu_icon/Icons.svg" style="margin-right: 10px;">
                    <span>Bootstrap, Materialize</span>
                  </div>
                  <div class="infoo">
                    <img src="../author/menu_icon/Icons.svg" style="margin-right: 10px;">
                    <span>Bootstrap, Materialize</span>
                  </div>
                  <div class="infoo">
                    <img src="../author/menu_icon/Icons.svg" style="margin-right: 10px;">
                    <span>Bootstrap, Materialize</span>
                  </div>
                </div>
                <div class="marginer"></div>
            </div>
            <div class="midd_frame">
                <div class="main_midd">
                    <div class="box_left">
                        <div class="point">
                            <img src="../author/btn_icon/Ellipse 13.svg">
                        </div>
                        <div class="point_1">
                            <img src="../author/btn_icon/Ellipse 16.svg">
                        </div>
                        <div class="point_2">
                            <img src="../author/btn_icon/Rectangle 52.svg">
                        </div>
                        <div class="point_3">
                            <img src="../author/btn_icon/Ellipse 12.svg">
                        </div>
                        <div class="point_4">
                            <img src="../author/btn_icon/Ellipse 15.svg">
                        </div>
                        <div>
                            <strong>Doctor neurologists
                                in OHSU Hospital </strong>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
                            <a>
                                <button>Hire Me</button>
                            </a>
                    </div>
                    <div class="box_right">
                        <div class="points">
                            <img src="../author/btn_icon/Rectangle 51.svg">
                        </div>
                        <div class="points_1">
                            <img src="../author/btn_icon/Polygon 1.svg">
                        </div>
                        <div class="right_photo"></div>
                    </div>
                </div>
                <div class="midd_info">
                    <strong>My Services</strong>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
                </div>
                <div class="box_wrap">
                        <div class="card_box">
                            <div class="image_box">
                                <img src="../author/box_images/Icons_coding.svg">
                            </div>
                            <strong>Web Development</strong>
                            <span>Blog, E-commerce</span>
                        </div> 
                        <div class="card_box">
                            <div class="image_box">
                                <img src="../author/box_images/Icons_illustration.png">
                            </div>
                            <strong>uI/uX design</strong>
                            <span>Mobile app, website design</span>
                        </div>    
                        <div class="card_box">
                            <div class="image_box">
                                <img src="../author/box_images/Icons_Microphone.png">
                            </div>
                            <strong>Sound design</strong>
                            <span>Voice Over, Beat Making</span>
                        </div>    
                        <div class="card_box" style="margin-top: 20px;">
                            <div class="image_box">
                                <img src="../author/box_images/Icons_Microphone.png">
                            </div>
                            <strong>Game design</strong>
                            <span>Character Design, Props & Objects</span>
                        </div>    
                        <div class="card_box" style="margin-top: 20px;">
                            <div class="image_box">
                                <img src="../author/box_images/Icons_game-development.svg">
                            </div>
                            <strong>Photography</strong>
                            <span>Portrait, product photography</span>
                        </div>    
                        <div class="last_box" style="margin-top: 20px;">
                            <strong>Advertising</strong>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </span>
                            <a href="">
                                <p>Order Now</p>
                            </a>
                        </div>       
                </div>
            </div>
            <div class="right_frame">
                <div class="top_unit">
                    <img src="../author/btn_icon/Contrast.png">
                </div>
                <div class="unit_1">
                    <img src="../author/btn_icon/Ellipse 10.svg">
                    <div class="unit_2">
                        <img src="../author/btn_icon/Vector (6).svg">
                    </div>
                </div>
                <div class="unit_3" style="margin-top: 20px;">
                    <img src="../author/btn_icon/Vector (7).svg">
                </div>
                <div class="unit_4" style="margin-top: 20px;">
                    <img src="../author/btn_icon/Cv.png">
                </div>
                <div class="unit_5" style="margin-top: 20px;">
                    <img src="../author/btn_icon/Portfolio.png">
                </div>
                <div class="unit_6" style="margin-top: 20px;">
                    <img src="../author/btn_icon/Blog.png">
                </div>
                <div class="unit_7" style="margin-top: 20px;">
                    <img src="../author/btn_icon/Contact.png">
                </div>
            </div>
</body>
</html>